
  <h1>Hai ini adalah Halaman Kontak</h1>
  <h2>Silahkan masukkan nama anda</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quibusdam eum consectetur, voluptatem odio blanditiis.</p>
